{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style = "color: white; width:100%;height:auto; background-color:#242630; margin:auto;">
    <h1>
        Change  Password for {{username}}
    </h1>
    <p>
        Please enter your new password.
    </p>
    <form method = "POST"">
        {{login.password.label(class_='StringFieldLabel')}}
        <br>
        {{login.password(class_='StringField form-control',style = "width: 150px;color: white;background-color:#313439; border:#282d31", placeholder="Password")}}
        <br>
        {{login.submit(class_='btn-light btn-lg',style = "width: 150px;color: white;background-color:#276cd4; margin:auto; border:#282d31")}}
        {{login.csrf_token()}}
    </form>
</div>
{% endblock %}