{% extends "baseLogin.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>	
    {% endfor %}
<div class="jumbotron" style = "width:100%;height:auto; background-color:#242630; color: #adafae;border: 3px solid black;">
    <header>
        <h1>
            Forgot Your Password?
        </h1>
    </header>
    <p>
        Please enter your username and your security question answer to recover your account.
    </p>
    <form method = "POST">
        {{login.username.label(class_='StringFieldLabel')}}
        <br>
        {{login.username(class_='StringField form-control',style = "width: 300px;color: white;background-color:#313439; margin:auto; border:#282d31", placeholder="Username")}}
        <br>
        {{signup.security_question.label(class_='StringFieldLabel')}}
        <br>
        {{signup.security_question(class_='StringField form-control',style = "width: 300px;color: white;background-color:#313439; margin:auto; border:#282d31")}}
        <br>
        {{signup.security_answer.label(class_='StringFieldLabel')}}
        <br>
        {{signup.security_answer(class_='StringField form-control',style = "width: 300px;color: white;background-color:#313439; margin:auto; border:#282d31")}}
        <br>
        {{login.submit(class_='btn-light btn-lg',style = "width: 150px;color: white;background-color:#276cd4; margin:auto; border:#282d31", placeholder="Password" )}}
        {{login.csrf_token()}}
        <br>
        <p>
            Don't have an account? Looking to login? Click the buttons below to create an account or login.
        </p>
        <button class="btn-light btn-lg" style = "color:white;padding: 0px 10px;height: 50px;width: 150px;vertical-align: top;background-color:#808080; border:#282d31"; color:white;>
			<a href="{{url_for('signup')}}">Create Account</a>
		</button>
        <button class="btn-light btn-lg" style = "color:white;padding: 0px 10px;height: 50px;width: 150px;vertical-align: top;background-color:#808080; border:#282d31"; color:white;>
			<a href="{{url_for('login')}}">Login</a>
		</button>
    </form>
</div>
{% endblock %}