
<!-- Template from:
https://getbootstrap.com/docs/5.0/components/navbar/ -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Gamer Geeks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('store', username=current_user.username) }}">Store</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('Cart', username=current_user.username)}}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home', username=current_user.username) }}">Library</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('community', username=current_user.username) }}">Community</a>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"  style = "color: white;background-color:#313439;">
                <a class="dropdown-item" style = "color: white;" href="{{ url_for('addGame') }}" >Publish Game</a>
                <a class="dropdown-item" style = "color: white;" href="{{ url_for('changePassword', username=current_user.username) }}">Change Password</a>
                <a class="dropdown-item" style = "color: white;" href="{{ url_for('logout') }}">Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>