{% extends "baseLogin.html" %}
{% block content %}
<div class="jumbotron" style = "width:100%;height:auto; background-color:#242630; color: #adafae;border: 3px solid black;">
    <h1>
        Reset Password
    </h1>
    <p>
        Please enter your new password.
    </p>
    <form method = "POST">
        <br>
        {{reset.password(class_='StringField form-control', style = "width: 150px;color: white;background-color:#313439; margin:auto; border:#282d31", placeholder = "Password")}}
        <br>
        {{reset.submit(class_='btn-light btn-lg',style = "width: 150px;color: white;background-color:#276cd4; margin:auto; border:#282d31")}}
        {{reset.csrf_token()}}
        <br>
        <p>
            Don't wish to change your password? Click the button below to login!
        </p>
        <button class="btn-light btn-lg" style = "width: 200px;background-color:#808080; margin:auto; border:#282d31; color: white;">
			<a href="{{url_for('login')}}">Login</a>
		</button>
    </form>
</div>
{% endblock %}